<div class="container" ng-init="load()">
		<div class="jumbotron">
			<h1 align="center">{{heading}}</h1>
		</div>
			<form ng-submit="add()">
				<div class="form-group">
  				<label>Task:</label>
    			<input type="text" class="form-control" ng-model="name" autofocus>
  			</div>
  				<button type="submit" class="btn btn-primary" ng-disabled="!name">Add</button>
			</form>
			<!-- No tasks in list -->
			<p ng-if="todos.length === 0"><b>All done!!</b></p>
			<!-- Display list of todos -->
			<table ng-if="todos.length > 0" class="table">
  				<thead>
    				<tr>
      					<th>Select All
                  <input type="checkbox" ng-model="selectAll" ng-click="checkAll()"></input>
                </th>
                <th>Task</th>
      					<th>Added On</th>
      					<th>Update</th>
    				</tr>
  				</thead>
  				<tbody ng-repeat="todo in todos">
  					<tr>
              <td><input type="checkbox" ng-model="todo.selected"></td>
  						<td>
                <div ng-if="todo.status == 'Done'">
                  <s>{{todo.name}}</s>
                </div>
                <div ng-if="todo.status == 'In progress'">
                  {{todo.name}}
                </div>
              </td>
  						<td>{{todo.dateCreated|date:'yyyy-MM-dd'}}</td>
  						<td>
                <button class="btn btn-primary btn-sm" ng-click="done(todo)" ng-disabled="todo.status == 'Done'">Done</button>
              </td>
  					</tr>
  				</tbody>
			</table>
</div>
